[submodule "libwacom-surface"]
	path = libwacom-surface
	url = https://github.com/linux-surface/libwacom-surface
[submodule "surface-ipts-firmware"]
	path = surface-ipts-firmware
	url = https://github.com/linux-surface/surface-ipts-firmware
[submodule "linux-surface"]
	path = linux-surface
	url = https://github.com/linux-surface/linux-surface
